ul li {
  list-style-type: none;
}

.program {
  background-color: var(--black-color);
  @media screen and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 40px;
    padding-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 124px;
  }

  /* @media screen and (min-width: 480px), (max-width: 480px) {
    background-image: url(/images/mainmobil.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 130px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/images/mainmobil@2x.jpg);
    }
  }

    @media screen and (min-width: 768px) {
      background-image: url(/images/maintablet.jpg);
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: auto 280px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(/images/maintablet@2x.jpg);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image:
      /*background-repeat: no-repeat;
    background-position: left 100px;
    background-size: auto 308px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/images/maindesktop@2x.jpg);
    }
    }
  
*/
  .program-list {
    position: relative;
    display: inline-block;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    @media screen and (max-width: 479px) {
      padding-left: 26px;
      margin: 0px 0px 0px 95px;
      // border-left: 1px solid rgba(255, 255, 255, 1);
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
      margin: 0 0 0 170px;
      padding-left: 26px;
      // border-left: 1px solid rgba(255, 255, 255, 1);
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin: 0 0 0 100px;
      padding-left: 50px;
      // border-left: 1px solid rgba(255, 255, 255, 1);
    }

    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 60px 0 0 185px;
      margin: 100px 0 0 0;
      border-top: 1px solid rgba(255, 255, 255, 1);
    }
  }

  .program-list__semestr:not(:last-child)::before {
    @media screen and (max-width: 1279px) {
      border-left: 1px solid rgba(255, 255, 255, 1);
      content: '';
      position: absolute;
      top: 10px;
      left: -26px;
      height: 100%;
    }
  }

  .program-list__semestr::after {
    @media screen and (max-width: 1279px) {
      content: '';

      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--orange-color);
      position: absolute;
      left: -32px;
      top: 10px;
      z-index: 2;
    }
  }

  .program-title {
    color: var(--white-color);

    @media screen and (max-width: 767px) {
      font-family: var(--primary-font-family);
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.03em;

      margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-family: var(--primary-font-family);
      font-style: normal;
      font-weight: 800;
      font-size: 26px;
      line-height: 34px;
      letter-spacing: 0.03em;

      margin-bottom: 50px;
      /* margin-left: 40px;*/
    }

    @media screen and (min-width: 1280px) {
      font-family: var(--primary-font-family);
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 60px;
      letter-spacing: 0.03em;

      /* margin-left: 185px;*/
    }
  }

  .program-list__semestr {
    padding-bottom: 40px;
    position: relative;

    @media screen and (min-width: 1280px) {
      margin: 0px;
    }
  }

  .semestr-title {
    color: var(--white-color);
    position: relative;

    @media screen and (max-width: 767px) {
      font-family: var(--primary-font-family);
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.08em;
      text-transform: uppercase;

      margin-bottom: 5px;
      // &::before {
      //   content: '';

      //   width: 12px;
      //   height: 12px;
      //   border-radius: 50%;
      //   background-color: var(--orange-color);
      //   position: absolute;
      //   left: -32px;
      //   top: 10px;
      //   z-index: 2;
      // }
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-family: var(--primary-font-family);
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.08em;
      text-transform: uppercase;

      margin-bottom: 5px;
      // &::before {
      //   content: '';

      //   width: 12px;
      //   height: 12px;
      //   border-radius: 50%;
      //   background-color: var(--orange-color);
      //   position: absolute;
      //   left: -56px;
      //   top: 10px;
      //   z-index: 2;
      // }
    }

    @media screen and (min-width: 1280px) {
      font-family: var(--primary-font-family);
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.08em;
      text-transform: uppercase;

      margin-right: 70px;
      margin-bottom: 10px;

      &::before {
        content: '';

        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--orange-color);
        position: absolute;
        left: 0px;
        top: -67px;
      }
    }
  }

  .number {
    @media screen and (min-width: 1280px) {
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 24px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }

  .semestr-list {
    @media screen and (max-width: 767px) {
      padding: 0px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      display: flex;
      padding: 0;
    }

    @media screen and (min-width: 1280px) {
      padding: 0px;
    }
  }

  .semestr-list__task {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      // padding-right: 50px;
      display: inline-block;
      .vocabulary-semestr4 {
        padding-left: 50px;
      }
      .writing-semestr4 {
        padding-left: 50px;
      }
      .vocabulary-semestr3 {
        padding-left: 135px;
      }
      .writing-semestr3 {
        padding-left: 70px;
      }
      .vocabulary-semestr2 {
        padding-left: 135px;
      }
      .vocabulary-semestr1 {
        padding-left: 80px;
      }
    }
  }

  .task-title {
    color: var(--orange-color);
    padding: 6px 0px;
    margin-bottom: 5px;

    &::before {
      content: '';

      width: 13px;
      height: 1px;
      margin-right: 7px;

      background-color: var(--orange-color);
    }

    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    @media screen and (min-width: 1280px) {
      font-family: var(--primary-font-family);
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;

      display: flex;
      align-items: center;
      letter-spacing: 0.06em;

      &::before {
        content: '';

        width: 15px;
        height: 2px;
        margin-right: 7px;

        background-color: var(--orange-color);
      }
    }
  }

  .task-title .hidden {
    font-size: 0;
  }

  .task-list {
    padding: 0px;
    margin-bottom: 8px;
  }

  .task-item {
    color: var(--main-light-text);

    @media screen and (max-width: 1279px) {
      font-family: var(--primary-font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;

      letter-spacing: 0.08em;
    }

    @media screen and (min-width: 1280px) {
      font-family: var(--primary-font-familt);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.04em;
    }
  }

  .image-box {
    position: relative;
  }

  @media screen and (max-width: 479px) {
    .program-image {
      position: absolute;
      left: 200px;
      top: -83px;
      width: 176px;
      height: 137px;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .program-image {
      position: absolute;
      width: 176px;
      height: 137px;
      left: 280px;
      top: -83px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .program-image {
      position: absolute;
      width: 384px;
      height: 280px;
      left: 380px;
      top: -200px;
    }
  }
  @media screen and (min-width: 1280px) {
    .program-image {
      position: absolute;
      width: 760px;
      height: 502px;
      left: -200px;
      top: -125px;
    }
  }
}
